<div class="keyboard-grid">
    <button class="key" (click)="onDigit(1)">1</button>
    <button class="key" (click)="onDigit(2)">2</button>
    <button class="key" (click)="onDigit(3)">3</button>

    <button class="key" (click)="onDigit(4)">4</button>
    <button class="key" (click)="onDigit(5)">5</button>
    <button class="key" (click)="onDigit(6)">6</button>

    <button class="key" (click)="onDigit(7)">7</button>
    <button class="key" (click)="onDigit(8)">8</button>
    <button class="key" (click)="onDigit(9)">9</button>

    <div class="placeholder"></div>
    <button class="key" (click)="onDigit(0)">0</button>
    <button class="key action-del" (click)="onDelete()">⌫</button>
</div>